<header class="header-section">
    <div class="wrapper">
        <h1 class="logo">
            <a routerLink="/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/2560px-IMDB_Logo_2016.svg.png" alt="IMDB Logo">
            </a>
        </h1>
        <nav class="header-section-nav">
            <ul class="header-nav-list">
                <li>
                    <a routerLink="/movies/popular">Popular</a>
                </li>
                <li>
                    <a routerLink="/movies/top_rated">Top Rated</a>
                </li>
                <li>
                    <a routerLink="/movies/upcoming">Upcoming</a>
                </li>
            </ul>
        </nav>
    </div>
</header>